{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Article Inspections</title>
    <!-- Add the Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container d-flex justify-content-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Job Number</th>
                    <th>Time Created</th>
                    <th>CMM Program Required?</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs_list %}
                <tr>
                    <td>{{job.idx}}</td>
                    <td>{{job.job_number}}</td>
                    <td class='counter' data-timeCreated='{{job.created}}'></td>
                    <td>
                        {% if job.needs_CMM %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Add the Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>