{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Article Inspections</title>
    <!-- Add the Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container d-flex justify-content-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Job Number</th>
                    <th>Time in Inspection</th>
                    <th>CMM Program Required?</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs_list %}
                <tr class="job">
                    <td>{{job.idx}}</td>
                    <td class="job_number">{{job.job_number}}</td>
                    <td class='counter' data-timeCreated='{{job.created}}'></td>
                    <td>
                        <div class="text-center">
                            {% if job.program_required == False %}
                            <a href="#" class="btn btn-success btn-sm active btn-block" role="button"
                                id="{{job.job_number}}">
                                No
                            </a>
                            {% else %}
                            <a href="#" class="btn btn-danger btn-sm active btn-block" role="button"
                                id="{{job.job_number}}">
                                Yes
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>Average Time (No Program Required)</td>
                    <td>
                        {% if average_no_pg != None %}
                        {{average_no_pg}}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Average Time (Program Required)</td>
                    <td>
                        {% if average_pg != None %}
                        {{average_pg}}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="{% static 'main.js' %}"></script>
</body>

</html>